.qrcodecard {
    width: 500px;
    height: 200px;
    background-color: var(--color-surface-300);
    color: var(--color-text-100);
    border-radius: 10px;
    display: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top:20px;
}

.qrcodeicon {
    padding-top:20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.qrcodeimage {
    width: 500px;
    height: 200px;
    padding-top:20px;
    margin-bottom: 20px;
    margin: auto;
    cursor: pointer;
}

.qrcodeimage img {
    width: 300px;
    height: 300px;
    padding:10px;
}

.qrcodecardbutton {
    margin: auto;
    padding: 10px;
    background-color: var(--color-primary-100);
    color: var(--color-text-100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;
}

.qrcodecardbutton:hover {
    background-color: var(--color-primary-200);
}

.qrcodecardinput {
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-surface-200);
}

.wrapper {
    margin: 20px;
    text-align: center;
  }